@import url("https://fonts.googleapis.com/css?family=Roboto400,300,500")
@import url("https://fonts.googleapis.com/icon?family=Material+Icons")

body
	font-family Roboto


button
	border none
	background #ccc
	border-radius 2px
	text-align center
	letter-spacing .5px
	display inline-block
	height 36px
	line-height 1
	outline 0
	padding 0 2rem
	cursor pointer
	text-transform uppercase
	box-shadow 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)
	&.flat
		box-shadow none

input:not([type]),
input[type=text],
input[type=password], 
input[type=email], 
input[type=url], 
input[type=time], 
input[type=date], 
input[type=datetime-local], 
input[type=tel],
input[type=number], 
input[type=search], 
textarea
	background-color transparent
	border none
	border-bottom 1px solid #9e9e9e
	border-radius 0
	outline none
	height 3rem
	width 100%
	font-size 1rem
	margin 0 0 15px 0
	padding 0
	box-shadow none
	box-sizing content-box
	transition all .3s
	line-height normal

.input-control
	.input-field
		position relative
		input
			padding-left 2em
		i
			position absolute
			top .5em
			left 0
	.help,.error
		font-size 1em
		overflow hidden
		padding 0
		line-height 1em
		background #fdfdfd
		box-shadow 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)
		transition all .3s ease-out
		span,i
			vertical-align middle
			font-size 1em
		i
			color #26a69a
	.help
		height 0
	.error
		height 1em
		padding .2em
		i,span
			color #F44336
	&.focused
		outline none
		.help
			padding .2em
			height 1em
		label
			color #26a69a 
		input:not([type]),
		input[type=text],
		input[type=password], 
		input[type=email], 
		input[type=url], 
		input[type=time], 
		input[type=date], 
		input[type=datetime-local], 
		input[type=tel],
		input[type=number], 
		input[type=search], 
		textarea
			border-bottom 1px solid #26a69a
			box-shadow 0 1px 0 0 #26a69a
	&.hasErrors
		border-bottom 1px solid #F44336
		box-shadow 0 1px 0 0 #F44336
		
			

.ModelManager.mode-List
	display block
	margin 1em auto
	max-width 90%
	border 1px solid #a3a3a3
	border-radius 2px
	overflow auto
	.buttonGroup
		padding 1em

.model-item-Summary
	display block
	background #fdfdfd
	padding 1em
	border-bottom 1px solid #a3a3a3
	cursor pointer
	transition all 1s ease-out
	&:hover
		background #26a69a
		color #fdfdfd
		transition all .3s ease-in