body,html
    width 100%
    height 100%
    overflow hidden
    margin 0
    padding 0
#Content
    width 100%
    height 100%
    overflow auto
.Column
    position absolute
    top 0
    min-width 50em
    height 100%
    background-color #fcfcfc
    box-shadow 0 14px 45px rgba(0, 0, 0, 0.25), 0 10px 18px rgba(0, 0, 0, 0.22)
    transition right 400ms ease-out
    button
        box-shadow none
    .contents
        overflow-y auto
        position absolute
        top 4em
        bottom 1em
        left 1em
        right 1em
        box-sizing border-box
        padding 4em
    .header
        background #26a69a
        padding 1em
        position relative
        .close
            position absolute
            top 1em
            right 1em
            min-width auto
            padding .5em
            background #26a69a
            color rgba(255,255,255,0.7)
    .breadCrumb
        font-size 18px
        color rgba(255,255,255,0.7)
        vertical-align middle
        &:before
            content: '\E5CC';
            color: rgba(255,255,255,0.7);
            vertical-align: top;
            display: inline-block;
            font-family: 'Material Icons';
            font-weight: normal;
            font-style: normal;
            font-size: 25px;
            margin: 0 10px 0 8px;
            -webkit-font-smoothing: antialiased;
        &:first-child
            &:before
                content none
    &.ColumnItem-enter
        transform translate3d(100%,0,0)
        &.ColumnItem-enter-active
            transform translate3d(0,0,0);
            transition transform 300ms ease-out
    &.ColumnItem-leave
        transform translate3d(0,0,0)
        &.ColumnItem-leave-active
            transform translate3d(100%,0,0)
            transition transform 200ms ease-in

.image-container,.img
    display inline-block
    .img
        display block

.ColumnManager
    position absolute
    top 0
    bottom 0
    right 0
    &.has-items
        left 0

.ColumnManagerOverlay
    width 100%
    height 100%
    background rgba(0,0,0,.5)
    &.ColumnItem-enter, &.ColumnManager-appear
        opacity 0
        &.ColumnItem-enter-active, &.ColumnItem-appear-active
            opacity 1
            transition opacity 200ms ease-out
    &.ColumnItem-leave
        opacity 1
        &.ColumnItem-leave-active
            opacity 0
            transition opacity 300ms ease-in



